.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 8vh;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 9vw;
  height: 4vh;
  margin-right: 8vw;
  color: rgb(94, 91, 91);
}

input {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 20vw;
  height: 2vh;
}

select {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 21vw;
  height: 4vh;
}

button {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: rgb(104, 102, 102);
  color: white;
  width: 12vw;
  height: 5vh;
  margin-top: 15px;
}
